*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-container{
    font-family: 'poppins', sans-serif;
    max-width: 550px;
    background-color: #fefefe;
    padding: 25px 40px;
    border-radius: 20px;
}
.form-heading{
    font-size: 35px;
}
.form-heading,
.signIn-text{
    text-align: center;
    text-transform: capitalize;
    color: #131313;
}

.signIn-text a{
    color: #ff7a00;
    margin-right: 5px;
}


.login-form{
margin-top: 50px;
}

.login-form input{
    width: 100%;
    padding: 15px 10px 15px 20px;
    font-family: inherit;
    background-color: #e7e7e7;
    border: none;
    border-radius: 15px;
    margin-bottom: 15px;
    
}

.name-inputs{
    display: flex;

}
.name-inputs input:first-child{
    margin-right: 15px;

}
.SignUp-btn{
   margin: 40px auto 0;
   padding: 16px 64px;
   text-transform: capitalize;
   background-color: #ff7a00;
   border-radius: 15px;
   border: 2px solid #ff7a00;
   font-family: inherit;
   font-size: 20px;
   font-weight: bold;
   cursor: pointer;
   display: flex;
   align-items: center;
   transition: all 0.3s;
}


.SignUp-btn i{
    margin-left: 5px;
}

.SignUp-btn:hover{
    background-color: transparent;
    color: #ff7a00;
}